---
layout: default
---
      <header>

        <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->

        <!-- The HTML5 video element that will create the background video on the header -->
        <div class="video-background">
          <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <!--<source src="https://cdn.coverr.co/videos/coverr-cinematic-snowy-mountains-7615/720p.mp4" type="video/mp4">-->
            <source src="assets/img/welcome-video-2-cropped.m4v" type="video/mp4">
          </video>
        </div>

        <!-- The header content -->
        <section class="pelum-welcome-area fix" data-scroll-index="0">
           <!-- Shape Start -->
           <!--<div class="shapes-container">
              <div class="bg-shape"></div>
           </div>-->
           <!-- Shape End -->
           <div class="container">
              <div class="row align-items-center">
                 <div class="col-12">
                    <div class="welcome-text">
                       <h2><span>Run wires.</span> <span>Skip drywall repair.</span></h2>
                       <a href="/shop" class="custom-btn">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <!--<div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-3">Video Header</h1>
              <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
            </div>
          </div>
        </div>-->
      </header>

      <section class="pelum-sub-header-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 sub-header">
                 Wireshark is a patent pending wiring system which lets experts and novices complete projects faster and at a lower cost with professional results every time. It's designed to be usable by anyone as a modern alternative to traditional wiring methods. Wireshark can be used for high and low voltage wires and ensures jobs are up to electrical code.
               </div>
            </div>
         </div>
      </section>
       
      <!-- Features Area Start -->
      <section class="pelum-features-area" data-scroll-index="1">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading">
                     <h2>Why Wireshark?</h2>
                     <!--<span class="heading_overlay"></span>-->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="single-feature">
                     <div class="feature-icon">
                        <i class="fa fa-users"></i>
                     </div>
                     <div class="feature-text">
                        <h3>Designed for anyone</h3>
                        <p>The Wireshark system streamlines wire installation by eliminating the need for drilling and navigating behind drywall, significantly speeding up the process.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="single-feature">
                     <div class="feature-icon">
                        <i class="fa fa-shield"></i>
                     </div>
                     <div class="feature-text">
                        <h3>Safe and up to code</h3>
                        <p>The Wireshark system features a specialized conduit that snugly fits into channels, protects wires, and ensures compliance with electrical code for enhanced safety.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="single-feature">
                     <div class="feature-icon">
                        <i class="fa fa-hand-holding-dollar"></i>
                     </div>
                     <div class="feature-text">
                        <h3>Lower cost and risk</h3>
                        <p>Wireshark reduces materials &amp; labor for wiring projects, meaning less drywall repairs and quicker installation, making it cost-effective for DIYers and professionals.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="single-feature last">
                     <div class="feature-icon">
                        <i class="fa fa-magic"></i>
                     </div>
                     <div class="feature-text">
                        <h3>Professional results</h3>
                        <p>The Wireshark system avoids drywall patching with a custom-fit conduit that protects wires and fills the channel, requiring minimal effort for finish work.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Features Area End -->

      <!-- Features Area Start -->
      <section class="pelum-features-area steps" data-scroll-index="2">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="site-heading">
                     <h2>How does it work?</h2>
                     <!--<span class="heading_overlay"></span>-->
                  </div>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6 feature-text">
                  <h3>1. Create a channel</h3>
                  <p>Attach the Wireshark baseplate and bit to your router to easily create precise channels on the back of your baseboard.</p>
                  <div class="row gallery-row">
                    <div class="col-lg-6 gallery-item">
                      <img src="/assets/img/steps/steps_0001.png" class="img-thumbnail">
                    </div>
                    <div class="col-lg-6">
                      <img src="/assets/img/steps/steps_0002.png" class="img-thumbnail">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 feature-text">
                  <h3>2. Install wire &amp; conduit</h3>
                  <p>Place the Wireshark conduit and your wire into the channel and reattach your baseboard.</p>
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="/assets/img/steps/steps_0003.png" class="img-thumbnail">
                    </div>
                    <div class="col-lg-6">
                      <img src="/assets/img/steps/steps_0004.png" class="img-thumbnail">
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                 {% assign cnt = "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34" | split: ',' %}
                 {% assign cnt_exploded = "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35" | split: ',' | reverse %}
                  <div id="wall-rotation-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="100" data-pause="false" data-wrap="false">
                    <div class="carousel-inner">
                      {% for item in cnt_exploded %}
                        <div class="carousel-item {% if item == "35" %}active{% endif %}">
                          <img class="d-block w-100" src="/assets/img/wall-rotation-exploded/wall-rotation_{{ item | prepend: "000" | slice: -4,4 }}.png">
                        </div>
                      {% endfor %}
                      <div class="carousel-item">
                        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="false">
                          <source src="/assets/img/wall-rotation-exploded/wall-rotation_0036.mp4" type="video/mp4">
                        </video>
                      </div>
                  </div>
                </div>
            </div>
         </div>
      </section>
       
       
      <!-- Video Area Start -->
      <!--<section class="pelum-video-area" data-scroll-index="2">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="video-box">
                     <div class="video-inn">
                        <a class="popup-youtube-plain" href="https://youtu.be/lH_8k-v4dnw">
                        <i class="flaticon-play"></i>
                        </a>
                        <h2>Want to learn more? Watch this video.</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>-->
      <!-- Video Area End -->
       
       
      <!-- Faq Area Start -->
      <section class="pelum-faq-area" data-scroll-index="3">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="faq-left">
                     <div class="site-heading">
                        <h2>Frequently Asked Questions</h2>
                        <!--<span class="heading_overlay"></span>-->
                     </div>
                     <div class="accordion" id="accordionExample">
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a class="collapsed" href="#" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              How much safer is using Wireshark than traditional behind-the-drywall approaches?
                              </a>
                           </div>
                           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                <p>Wireshark is safer than traditional approaches for DIYers for 2 reasons. First, it avoids damaging existing wire or pipes hidden behind the drywall. Second, the specialized conduit is reinforced with steel to protect the wires running inside from nails or screws that may be driven into the wall at a later time.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Does Wireshark comply with NEC electrical codes?
                              
                              </a>
                           </div>
                           <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>Yes. Wireshark complies with NEC electrical codes. The specialized conduit is designed specifically to meet code standards and ensure a safe installation of electrical wires.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Can high voltage electrical wires be used with Wireshark?
                              </a>
                           </div>
                           <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                <p>Yes. The specialized conduit is designed to support high voltage electrical wires. To comply with code, high voltage wires should not be placed in the same channel and conduit as low voltage wires.<p>

                                <p>If you need to run both low and high voltage wires, we recommend using a separate channel for each.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                              Can I use low voltage junction boxes?
                              </a>
                           </div>
                           <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>Yes. Wireshark makes it trivial to add a low voltage junction box at either end of the wire run without any specialized equipment.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              What if I want to remove the wiring I ran with Wireshark?
                              </a>
                           </div>
                           <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>To remove wire, you simply need to pull the wires out from either end of the run. The Wireshark conduit can remain intact without needing removal.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Can't I do this myself?
                              </a>
                           </div>
                           <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>You can try. But Wireshark is a specialized system that makes creating straight, perfect-fit channels easy, and comes with our unique conduit that gives error-free, up-to-code results. It will cost you more to do it yourself with less than perfect results.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                              Where can I buy Wireshark?
                              </a>
                           </div>
                           <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>We are manufacturing Wireshark in very small batches as we work with professionals and DIYers to make sure it meets our standards for ease of use and professional results.</p>
                                 <p>Reach out to us at <a href="mailto:hello@trywireshark.com">hello@trywireshark.com</a> if you're interested in becoming an early user. We have a program where we can send prototypes in order to get valuable feedback.</p>
                              </div>
                           </div>
                        </div>
                        <div class="single_faq_accordian" data-scroll-index="4">
                           <div class="faq_accordian_header">
                              <a href="#" class="collapsed" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              Is Wireshark protected by a patent?
                              </a>
                           </div>
                           <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                              <div class="faq_accordian_body">
                                 <p>Yes. A provisional patent has been filed with the United States Patent Office for Wireshark.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Faq Area End -->
       
       
