header {
  .site-description {
    font-size: 12px !important;
  }
  .logo {
    clip-path: circle();
    width: 30px;
    height:30px;
    margin-right: 5px;
    position: relative;
    top: 5px;
  }
}

.post {
  .join-waitlist {
    text-align: center;
    padding-top: 20px;
  }
}

.page {
  @media only screen and (max-width: 900px) {
    .google-form {
        flex-direction: column;
        /*flex-direction: column-reverse;*//* If you want them to stack the other way around*/ 
    }
    iframe{
        width: 100%;
        height: 500px;
    }
  }
}
